<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/animal.css">
    <title>Document</title>
</head>
<body>
<br><br>

<div class="container">
    <center>
        <p id="head">ANIMALS</p>
    </center>
    <a href="front.html">
        <img id="img1" src="../static/CSS/img/home.png" >
    </a>

    <img id="img2" onclick="openForm1()" src="../static/CSS/img/add.png" >
    <img id="img3" onclick="openForm2()"src="../static/CSS/img/search.png" >


    <a href="milk.html">
        <img id="img4" src="../static/CSS/img/milk records.png" >
    </a>

    <a href="health.html">
        <img id="img5" src="../static/CSS/img/health records.png" >
    </a>

    <div class="form-popup" id="myForm1">
        <form action="http://localhost:8080/Animal/all" class="form-container">
            <h1>ADD NEW RECORD</h1>

            <label for="animal_number"><b>Animal Number</b></label>
            <input type="text" name="animal_number" required>

            <label for="breed"><b>Breed</b></label>
            <input type="text"  name="breed" required>

            <label for="emp_id"><b>Employee ID</b></label>
            <input type="text"  name="emp_id" required>

            <label for="gender"><b>Gender</b></label>
            <input type="text"  name="gender" required>

            <label for="source"><b>Source</b></label>
            <input type="text"  name="source" required>

            <label for="state"><b>State</b></label>
            <input type="text"  name="state" required>

            <button type="submit" class="btn">add</button>
            <button type="button" class="btn cancel" onclick="closeForm1()">cancel</button>
        </form>
    </div>

    <div class="form-popup" id="myForm2">
        <form action="http://localhost:8080/Animal/all" class="form-container">
            <h1>SEARCH BY ANIMAL NUMBER</h1>

            <label for="animal_number"><b>Animal Number</b></label>
            <input type="text" name="animal_number" required>

            <button type="search" class="btn">search</button>
            <button type="button" class="btn cancel" onclick="closeForm2()">cancel</button>
        </form>
    </div>

    <script>
function openForm1() {
  document.getElementById("myForm1").style.display = "block";
}

function closeForm1() {
  document.getElementById("myForm1").style.display = "none";
}

function openForm2() {
  document.getElementById("myForm2").style.display = "block";
}

function closeForm2() {
  document.getElementById("myForm2").style.display = "none";
}
     </script>

</div>
</body>
</html>