<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/CSS/front.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap" rel="stylesheet">
  <title></title>
</head>

<body>
  <br><br>
  <center>
    <p id="head">LIVESTOCK MANAGEMENT</p>
  </center>

  <div class="container">
    <!-- <img src="nature.jpg" alt="Norway" style="width:100%;"> -->
    <a href="animal.html"> 
      <div class="text-block-1">
      <!-- <h4>Nature</h4>
    <p>What a beautiful sunrise</p> -->
    <div id="anim">ANIMALS  </div>
      
      <img id="p" src="../static/CSS/img/6.jpeg" alt="">
    </div></a>
      <a href="finance.html"> 
        <div class="text-block-2">
        <!-- <h4>Nature</h4>
      <p>What a beautiful sunrise</p> -->
      <div id="fin"> FINANCE</div>
        
        <img id="p" src="../static/CSS/img/2.jpeg" alt="">
      </div></a>
      <a href="employee.html">  
        <div class="text-block-3">
          <!-- <h4>Nature</h4>
        <p>What a beautiful sunrise</p> -->
        <div id="emp"> EMPLOYEE</div>
          
          <img id="p" src="../static/CSS/img/1.jpeg" alt="">
        </div>
      </a>
      <a href="medicines.html">
        <div class="text-block-4">
          <!-- <h4>Nature</h4>
        <p>What a beautiful sunrise</p> -->
        <div id="ani"> MEDICINES</div>
          
          <img id="p" src="../static/CSS/img/5.jpeg" alt="">
        </div>
      </a>
      
    
  </div>
</body>

</html>