<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/health.css">
    <title>Document</title>
</head>
<body>
<br><br>

<div class="container">
    <center>
        <p id="head">HEALTH RECORDS</p>
    </center>
    <a href="front.html">
        <img id="img1" src="../static/CSS/img/home.png" >
    </a>
    <a href="animal.html">
        <img id="img4" src="../static/CSS/img/back.png" >
    </a>

    <img id="img2" onclick="openForm1()" src="../static/CSS/img/add.png" >
    <img id="img3" onclick="openForm2()"src="../static/CSS/img/search.png" >

    <div class="form-popup" id="myForm1">
        <form action="http://localhost:8080/Animal/all" class="form-container">
            <h1>ADD NEW RECORD</h1>

            <!--<label for="med_his"><b></b></label>
            <input type="text" name="med_his" required>-->

            <label for="animal_number"><b>Animal Number</b></label>
            <input type="text" name="animal_number" required>

            <label for="conceive"><b>Conceive Date</b></label>
            <input type="text" name="conceive" required>

            <label for="date_used"><b>Date Used</b></label>
            <input type="text"  name="date_used" required>

            <label for="disease"><b>Disease</b></label>
            <input type="text"  name="disease" required>

            <label for="drug_number"><b>Drug number</b></label>
            <input type="text"  name="drug_number" required>

            <label for="insemination"><b>Insemination</b></label>
            <input type="text"  name="insemination" required>

            <label for="response"><b>Response</b></label>
            <input type="text"  name="response" required>

            <label for="used"><b>Quantity Used</b></label>
            <input type="text"  name="used" required>

            <button type="submit" class="btn">add</button>
            <button type="button" class="btn cancel" onclick="closeForm1()">cancel</button>
        </form>
    </div>

    <div class="form-popup" id="myForm2">
        <form action="http://localhost:8080/Animal/all" class="form-container">
            <h1>SEARCH BY ANIMAL NUMBER</h1>

            <label for="animal_number"><b>Animal Number</b></label>
            <input type="text" name="animal_number" required>

            <button type="search" class="btn">search</button>
            <button type="button" class="btn cancel" onclick="closeForm2()">cancel</button>
        </form>
    </div>

    <script>
function openForm1() {
  document.getElementById("myForm1").style.display = "block";
}

function closeForm1() {
  document.getElementById("myForm1").style.display = "none";
}

function openForm2() {
  document.getElementById("myForm2").style.display = "block";
}

function closeForm2() {
  document.getElementById("myForm2").style.display = "none";
}
     </script>

</div>
</body>
</html>