#head{
font-family: 'Noto Sans', sans-serif;
font-size:50px;
}
.container {
  position: relative;
}
body{
     background-image: url(img/bg/3.png) ;
     background-size: 100%;

 }
#img1 {
  position: absolute;
  top: 0;
  left: 100px;
  /*width: 200px;
  height: 100px;*/

}
#img2 {
  position: absolute;
  top: 0;
  right: 100px;
  /*width: 200px;
  height: 100px;*/

}
#img3 {
  position: absolute;
  top: 75px;
  right: 100px;
  /*width: 200px;
  height: 100px;*/

}
#img4 {
  position: absolute;
  top: 75px;
  left: 100px;
  /*width: 200px;
  height: 100px;*/

}